body {
    background-color: rgb(219, 218, 218);
}

.container {
    width: 400px;
    height: 600px;
    border-style: solid;
    margin: auto;
    border-radius: 20px;
    background-color: rgb(174, 173, 247);
}

.display {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 10px;
    font-size: 25px;
    width: 320px;
    height: 100px;
    border-color: black;
    border-style: solid;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
}

.number-button {
    width: 75px;
    height: 75px;
    border-radius: 15px;
    font-size: 30px;
}

.operator-button {
    width: 75px;
    height: 75px;
    border-radius: 15px;
    font-size: 25px;
}

.num-operator-container{
    display: grid;
    grid-template-columns: repeat(4, 85px);
    grid-template-rows: repeat(4, 80px);
    margin-left: 30px;
    margin-top: 15px;
}

#clear-button{
    width: 150px;
    margin-right: 25px;
}

#del-button{
    width: 150px;
}

.clr-del-container{
    display: flex;
    justify-content: center;
    margin-right: 12px;
}