@font-face {
    font-family: digital-clock;
    src: url(digital-7.ttf);
}

body {
    background-color: rgb(241, 240, 240);
}

main {
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.container {
    width: 400px;
    height: 620px;
    border-style: none;
    margin: auto;
    border-radius: 20px;
    background-color: rgb(163, 188, 211);
    box-shadow: 8px 8px 15px 1px rgba(0,0,0,0.27);
    padding-top: 0.1rem;
}

.display {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 0.7rem;
    font-family: digital-clock, sans-serif;
    font-size: 2.5rem;
    width: 320px;
    height: 100px;
    border-color: black;
    border-style: none;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.5rem;
    background-color: white;
}

.number-button {
    width: 75px;
    height: 75px;
    border-radius: 15px;
    border-style: none;
    font-size: 30px;
}

.operator-button {
    width: 75px;
    height: 75px;
    border-radius: 15px;
    font-size: 25px;
    border-style: none;
}

.num-operator-container{
    display: flex;
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(4, 85px);
    grid-template-rows: repeat(4, 85px);
}

button:hover{
    background-color: rgb(221, 220, 220);
}

#clear-button{
    width: 160px;
    margin-right: .6rem;
}

#del-button{
    width: 160px;
}

.clr-del-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: .6rem;
    margin-top: .35rem;
}